<!DOCTYPE html>
<html>
<head>
	<% include ../../partials/head %>
</head>
<body>
	<% include ../../partials/header %>

	<div class="container">
		<% if(status == 1) { %>
		<div class="alert alert-success">
			<strong>Success!</strong> <%= message %>
		</div>
		<% } else if(status == 0) { %>
		<div class="alert alert-danger">
			<strong>Error!</strong> <%= message %>
		</div >
		<% } %>
		<%= message %>
		<h3>Borrow Book</h3>
		<form class="form-horizontal" method="post">
			<div class="form-group">
				<label class="col-sm-2 text-right">Title : </label><label class="col-sm-10"><%= book.title %></label>
			</div>
			<div class="form-group">
				<label class="col-sm-2 text-right">Author : </label><label class="col-sm-10"><%= book.author %></label>
			</div>
			<div class="form-group">
				<label class="col-sm-2 text-right">Start Date : </label>
				<div class="col-sm-5">
	        		<input class="form-control" id="start_date" name="start_date" type="date" value="<%= helpers.dateNow() %>">
	      		</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 text-right">Return Date : </label>
				<div class="col-sm-5">
	        		<input class="form-control" id="return_date" name="return_date" type="date" value="<%= helpers.returnDate(book.readingDays()) %>">
	      		</div>
			</div>

			<% let disabled = ''; if (book.quantity_current == 0) disabled = 'disabled';%>
			<input type="submit" class="btn btn-primary <%= disabled %>" value="Borrow Book" style="margin-left: 200px" />
		</form>
		<br><br>
		<table class="table">
		  	<thead>
		  		<tr>
		  			<th>No</th>
		  			<th>Reader Name</th>
		  			<th>Start Date</th>
		  			<th>Return Date</th>
		  		</tr>
		  	</thead>
		  	<tbody>
		    	<% for(let i = 0; i < borrower.Borrows.length; i++) { %>
		    		<tr>
		    			<th><%= i+1 %></th>
		    			<th><%= borrower.Borrows[i].Reader.name %></th>
		    			<th><%= helpers.formatDate(borrower.Borrows[i].start_date) %></th>
		    			<th><%= helpers.formatDate(borrower.Borrows[i].return_date) %></th>
		    		</tr>
		    	<% } %>
		  	</tbody>
		</table>

	</div>
</body>
</html>